{% extends "hello/header.html" %}
{% block content %}


<html>
<head>
<style>
body {
    background-image: url("AboutPantryPic.jpg");
    background-repeat: no-repeat;
    background-size: contain;


}
</style>
</head>
<body>

</body>
</html>


//<p><b><font size = "32" color ="Blue"> <center>Welcome to Pantry Pros! </font></b></p>
  <p><i>-Developed by the Brogrammers. </i></p>

          <h1><ins>Our Vision</ins></h1>
          <p>To help college-age adults improve their cooking habits and live independently in a healthy, economical fashion.</p>

          <h2><ins>What is Pantry Pros?</ins></h2>
          <p>Pantry Pros is a web application that takes the food you have in your
              refridgerator or pantry and disply recipes of meals that can be made
              with the food you already own. </p>



          <h3 style = "margin: 30px;"><ins> Features</font></ins></h3>
          <ul list-style-position: center;
              style="list-style-type:None">
          <li>Unique delicious recipes</li>
          <li>Easy user interface</li>
          <li>Grocery list</li>
          <li>Short video demonstrating how to create the meal</li>
          <li>Nutritional facts</li>
          </ul>


  <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
  Contact Us!
  </button>

  <script>
    $('#myButton').on('click', function () {
      var $btn = $(this).button('loading')
      // business logic...
      $btn.button('reset')
  })
</script>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" autocomplete="off" checked> Add Twitter Here
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Add Facebook Here
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Add Instagram Here
  </label>
</div>

{% endblock %}
